.connect-line {
  position: relative;
}

.connect-line:before {
  content: '';
  position: relative;
  left: 50%;
  top: -100px;
  width: 93%;
  height: 100%;
  background-color: transparent;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
  background-position: 0px 0px, 212px 116px, 0px 116px, 216px 0px;
  -webkit-animation: border-dance 3s 3 forwards;
  animation: border-dance 3s 3 forwards;
  border: 0px;
  padding: 10px;
  position: absolute;
  -webkit-transition: background-position 2s;
  transition: background-position 2s;
  z-index: 0;
}

.connect-line:after {
  content: '';
  position: relative;
  left: 50%;
  top: -100px;
  width: 93%;
  height: 100%;
  background-color: transparent;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
  background-position: 0px 0px, 212px 116px, 0px 116px, 216px 0px;
  -webkit-animation: border-dance 3s 3 forwards;
  animation: border-dance 3s 3 forwards;
  border: 0px;
  padding: 10px;
  position: absolute;
  -webkit-transition: background-position 2s;
  transition: background-position 2s;
  z-index: 0;
}

.grain-mill > .connect-line:before {
  top: -260%;
  height: 130%;
  background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%);
  background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
}

.mash-lauter-tun > .connect-line:before {
  top: 0%;
  height: 94%;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  background: -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%);
  background: linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
}

.sour-tun-kettle > .connect-line:before {
  top: 0%;
  height: 40%;
  left: 50%;
  width: 100%;
  background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%);
  background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
}

.miu > .connect-line:before {
  top: 5%;
  height: 90%;
  left: 35%;
  width: 50%;
  z-index: -100;
  background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%);
  background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
}

.fermenter > .connect-line:before {
  top: -36%;
  height: 34%;
  left: 95%;
  width: 20%;
  background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%);
  background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
}

.bright-tank > .connect-line:before {
  top: -11%;
  height: 55%;
  left: 45%;
  width: 208%;
  background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%);
  background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.packaging > .connect-line:before {
  display: none;
  background: -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%);
  background: linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

@-webkit-keyframes border-dance {
  0% {
    background-position: 0 0, 500px 100%, 0 150px, 100% 0
  }

  100% {
    background-position: 500px 0, 0 100%, 0 0, 100% 150px
  }

}

@keyframes border-dance {
  0% {
    background-position: 0 0, 500px 100%, 0 150px, 100% 0
  }

  100% {
    background-position: 500px 0, 0 100%, 0 0, 100% 150px
  }

}

@media (max-width:1200px) {
  .grain-mill > .connect-line:before {
  }

  .miu {
    -webkit-animation-name: higher;
    animation-name: higher;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1200ms;
    animation-duration: 1200ms;
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
  }

  @-webkit-keyframes higher {
    from {
      height: 200px;
    }

    to {
      height: 485px
    }

  }

  @keyframes higher {
    from {
      height: 200px;
    }

    to {
      height: 485px
    }

  }

}

@media (max-width:1200px) {
  .grain-mill > .connect-line:before {
    top: -260%;
    height: 280%;
  }

  .mash-lauter-tun > .connect-line:before {
    top: 0%;
    height: 94%;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

  .sour-tun-kettle > .connect-line:before {
    top: 0%;
    height: 300%;
    left: 50%;
    width: 100%;
    background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%);
    background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    -webkit-animation: border-dance 3s 3 forwards;
    animation: border-dance 3s 3 forwards;
  }

  .miu > .connect-line:before {
    top: 5%;
    height: 25%;
    left: 35%;
    width: 50%;
    z-index: -100;
    background: -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%);
    background: linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    -webkit-animation: border-dance 3s 3 forwards;
    animation: border-dance 3s 3 forwards;
  }

  .bright-tank > .connect-line:before {
    top: 0%;
    height: 100%;    /* left: -55%; */
    width: 80%;
    background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%);
    background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

  .fermenter > .connect-line:before {
    top: 0%;
    height: 100%;
    left: 50%;
    width: 50%;
    background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%);
    background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

  .packaging > .connect-line:before {
    top: 0%;
    height: 150%;
    left: -5%;
    width: 100%;
    background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%);
    background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

}

@media (max-width:980px) {
  .grain-mill > .connect-line:before {
    top: -100%;
    height: 120%;
    width: 50%;
  }

  .mash-lauter-tun > .connect-line:before {
    top: -100%;
    height: 100%;
    width: 50%;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    background: -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%);
    background: linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    -webkit-animation: border-dance 3s 3 forwards;
    animation: border-dance 3s 3 forwards;
  }

  .mash-lauter-tun > .connect-line:after {
    top: 10%;
    height: 135%;
    left: 50%;
    width: 0%;
    background: -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%);
    background: linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    -webkit-animation: border-dance 3s 3 reverse;
    animation: border-dance 3s 3 reverse;
  }

  .sour-tun-kettle > .connect-line:before {
    top: 50%;
    height: 125%;
    left: 40%;
    width: 60%;
    background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%);
    background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    -webkit-animation: border-dance 3s 3 forwards;
    animation: border-dance 3s 3 forwards;
  }

  .miu > .connect-line:before {
  }

  .bright-tank > .connect-line:before {
    top: 0%;
    height: 100%;
    width: 80%;
    background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%);
    background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

  .fermenter > .connect-line:before {
    top: 0%;
    height: 100%;
    left: 50%;
    width: 50%;
    background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%);
    background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(0deg, transparent 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

  .packaging > .connect-line:before {
    top: 0%;
    height: 150%;
    left: -5%;
    width: 100%;
    background: -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(0deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%), -webkit-linear-gradient(90deg, #f48375 50%, transparent 50%);
    background: linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(90deg, #f48375 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%), linear-gradient(0deg, #f48375 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }

}