body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100%;
    margin: 0;

    color: #e3e3e3;
    background: #2d2d2d;
}
.auto-margin
{
    margin: auto;
}
.style-link
{
    color: #5b7da2;
}
.navigation
{
    z-index: 1000;

    width: 100%;
    height: 10vh;

    color: #e3e3e3;
    background: #5b7da2;
}
.navigation-list
{
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 1em;

    list-style: none;

    justify-content: space-around;
}
.nav
{
    color: #e3e3e3;
}
.code-example
{
    transition: 500mss ease all;
    text-align: justify;

    border-bottom: 4vmin solid #373e48;
}
.code-example:hover,
.code-example:focus
{
    filter: blur(0);
}
.city-background
{
    width: 99%;
    height: 100vh;

    text-align: center;

    background: url(../img/omaha.jpeg) no-repeat fixed;
    background-position-x: center;
    background-size: cover;
}
.city-overlay
{
    position: relative;
    top: 25%;

    width: 50%;

    border: 0.4em double black;
    background-color: #e3e3e3;

    mix-blend-mode: lighten;
}
.city-overlay-header
{
    color: #5b7da2;
}
.boxed
{
    border: 0.4em dashed #333;
}
.caption-heading
{
    position: relative;
    top: 25%;
}
.next
{
    display: block;

    transform: translate(0);
    text-align: center;

    outline: 0;
}
.github
{
    height: 50vh;
}
.next:after
{
    position: absolute;
    bottom: -2vh;
    left: 50%;

    width: 0;
    height: 0;
    margin-left: -1vmax;

    content: '';
    transition: all 1500ms ease;

    border-top: 1vmax solid #e3e3e3;
    border-right: 1vmax solid transparent;
    border-left: 1vmax solid transparent;
}
.next:hover:after
{
    border-top: 1vmax solid #8ba4be;
}
.next:focus:after
{
    transform: translateY(15em);

    opacity: 0;
}
.center-text
{
    max-width: 100%;

    text-align: center;
}
.row
{
    min-height: 100vh;
}
.next-bumper
{
    height: 50vh;
}
.hire-me
{
    display: table;

    width: 100%;
    height: 100vh;

    opacity: 0.7;
    background: url('../img/balloons.jpeg') fixed bottom;
    background-size: cover;
}
.looking-for-work
{
    display: table-cell;
    overflow: hidden;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    color: #fff;
    border: 0.5vmin solid #fff;
}
.work-reveal
{
    width: 25%;
    margin: auto;

    border: 0.5vmin solid #fff;
}
.looking-for-work .work-reveal
{
    padding: 5vmin 0;

    transition: all 0.3s ease;
    transition-delay: 0.5s;
    transform: translateY(-100%);
    text-align: center;
    vertical-align: middle;

    opacity: 0;
    color: #fff;
    background-color: #5b7da2;
}
.looking-for-work:hover .work-reveal,
.looking-for-work:active .work-reveal,
.looking-for-work:focus .work-reveal
{
    transform: translateY(100%);

    opacity: 1;
}
.intro
{
    display: -ms-flexbox;
    display: flex;

    height: 90vh;

    color: #e3e3e3;
    background: #2d2d2d;

    -ms-flex-pack: center;
    justify-content: center;
}
.intro-left
{
    position: relative;
    left: 0;

    width: 20%;

    background-image: repeating-linear-gradient(230deg, transparent, transparent 25px, rgba(30, 30, 30, 0.11) 25px, rgba(30, 30, 30, 0.11) 50px);
    box-shadow: 0 5px 10px #202020;
}
.intro-right
{
    position: relative;
    right: 0;

    width: 20%;

    background-image: repeating-linear-gradient(130deg, transparent, transparent 25px, rgba(30, 30, 30, 0.11) 25px, rgba(30, 30, 30, 0.11) 50px);
    box-shadow: 0 5px 10px #202020;
}
.intro-content
{
    width: 80%;
    margin: auto 1em;

    text-align: center;
}
.text-justify
{
    text-align: justify;
}
.read-more-state
{
    display: none;
}
.read-more-target
{
    overflow: hidden;

    max-height: 1vh;

    transition: 0.5s ease-out;

    opacity: 0;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target
{
    overflow: visible;

    max-height: 200vh;

    opacity: 1;
}
.read-more-state ~ .read-more-trigger:before
{
    content: 'Read more about my work';
}
.read-more-state:checked ~ .read-more-trigger:before
{
    content: '';
}
.read-more-state ~ .read-more-wrap:after
{
    font-size: 3vmax;

    position: absolute;
    left: 50%;

    content: ' ... ';
}
.read-more-state:checked ~ .read-more-wrap:after
{
    content: '';
}
.read-more-trigger
{
    cursor: pointer;
    text-decoration: underline;
}
.social-text-icon
{
    height: 7vmin;
    margin: 1em;

    border-bottom: 0.5em solid transparent;
}
.social-text-icon:hover,
.social-text-icon:focus
{
    border-bottom: 0.5em solid #5b7da2;
}
.section-heading
{
    color: #b7c4c8;
}
.bounce
{
    transition: all 700ms ease-out;
    transform: translate3d(0, 200px, 0);

    opacity: 0;

    backface-visibility: hidden;
}
.in-view
{
    transform: translate3d(0, 0, 0);

    opacity: 1;
}
.highlight
{
    text-decoration: none;

    border-bottom: 0.1em solid #5b7da2;
}
.highlight:hover
{
    box-shadow: 0 0.1em 0 #5b7da2;
}
.toggle[type='checkbox']
{
    position: absolute;

    opacity: 0;
}
.toggle[type='checkbox']:focus + .toggle-helper
{
    color: white;
    background-color: #5b7da2;
}
.toggle[type='checkbox']:hover + .toggle-helper
{
    color: white;
}
.toggle-helper
{
    position: relative;

    display: block;

    padding: 0.5em;

    cursor: pointer;
    text-align: center;
    text-decoration: underline;

    color: white;
    background-color: #373e48;
}
.toggle-content
{
    overflow: hidden;

    height: 0;

    text-align: center;
}
.social-link-icon
{
    height: 10vmin;
    padding: 0 1vmin;

    transition: all 1s ease;
}
.social-link-icon:hover
{
    transform: scale(1.1);
}
.icon-size
{
    height: 10vmin;
}
.banner-text
{
    margin: 0;
}
.bump
{
    padding-top: 10vh;
}
.wide-element
{
    max-width: 100vmin;
}
.traits-icon
{
    height: 5em;
    padding-top: 3em;
}
#resume-toggle:checked ~ #resume-content,
#hello-toggle:checked ~ #hello-content
{
    height: auto;
}
.slim-text
{
    font-size: large;

    padding: 2em;

    box-shadow: 0vmax 0.5vmax 1vmax rgba(0, 0, 0, 0.75);
}
@media (max-width:300px)
{
    .site-container > *
    {
        display: none;
    }
    .site-container:before
    {
        font-size: 7vmin;

        position: absolute;
        top: 50%;

        margin: auto;

        content: 'What are you on, a calculator? \a Just check out my github: \a http://github.com/watthem';
        text-align: center;
        white-space: pre;
        white-space: pre;
    }
}
@media (max-width:599px)
{
    body
    {
        font-size: 2vh;
        line-height: 2;
    }
    .auto-margin
    {
        width: 90%;
    }
    .offset-text
    {
        width: auto;
    }
    .offset-right
    {
        right: 0;

        padding-left: 0;
    }
    .slim-text
    {
        margin: 2vh 0;
    }
}
@media (min-width:600px)
{
    body
    {
        font-size: 2.5vh;
        line-height: 1.8;
    }
    .auto-margin
    {
        width: 75%;
    }
    .wide-element
    {
        width: auto;
    }
    .offset-text
    {
        width: auto;
    }
    .offset-right
    {
        right: 0;

        padding-left: 0;
    }
    .slim-text
    {
        margin: 2vh 0;
    }
}
@media (min-width:900px)
{
    body
    {
        font-size: 2.5vh;
        line-height: 2;
    }
    .auto-margin
    {
        width: 50%;
    }
    .offset-text
    {
        position: relative;

        width: 80%;
    }
    .slim-text
    {
        margin: 0;
    }
    .offset-left
    {
        left: 0;

        padding-right: 0;
    }
    .offset-right
    {
        right: -20%;

        padding-left: 5vmin;
    }
}
@media (min-width:1200px)
{
    body
    {
        font-size: 3vh;
        line-height: 1.8;
    }
    .offset-text
    {
        position: relative;

        width: 50%;
    }
    .offset-right
    {
        right: -50%;

        padding-left: 5vmin;
    }
}
@media (min-width:1800px)
{
    body
    {
        font-size: 3.2vh;
        line-height: 2;
    }
}
