.code
{
    font-family: "Consolas", monospace;
    font-size: large;
    line-height: 2;

    display: inline;

    width: auto;
    padding: 0 3px;

    white-space: normal;

    border: 1px solid #606060;
    border-radius: 2px;
}

.string.code
{
    color: #7da25b;
    border: 0;
}

.comment.code
{
    color: gray;
    border: 0;
}

.normal.code
{
    color: white;
    border: 0;
}

.number.code
{
    color: #a25d5b;
    border: 0;
}

.reserved.code
{
    color: #a2805b;
    border: 0;
}

.signature.code
{
    color: #5b7da2;
    border: 0;
}

.method.code
{
    color: #816648;
    border: 0;
}

div.code
{
    display: inline-block;

    margin-top: 25%;

    text-align: left;
}

.excuse > div.code
{
    position: relative;
    top: 0;

    animation: bubble 1.0s forwards;

    opacity: 0.1;
}

.excuse > div.code:hover
{
    transform: translateY(-20%);

    opacity: 0.9;
}
