.harvey {
    height: auto;
    cursor: pointer;
}

#logo-helper {
    display: none;
}

#logo-helper:checked ~ .banner-middle {
    -webkit-transition: 2s all ease;
    transition: 2s all ease;
    -webkit-flex-basis: 200%;
    -ms-flex-preferred-size: 200%;
    flex-basis: 200%;
}

.nose {
    -webkit-animation: twitch 1s infinite;
    animation: twitch 1s infinite;
}

.harvey-container:hover * .eyebrow,
.harvey-container:focus * .eyebrow {
    -webkit-animation: raise 2s 1;
    animation: raise 2s 1;
}

.harvey-container:hover * .mouth,
.harvey-container:focus * .mouth {
    -webkit-animation: skew 2s 1;
    animation: skew 2s 1;
}

.right-ear {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.right-ear:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
}

.left-ear {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.left-ear:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
}

@-webkit-keyframes twitch {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    35% {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }

    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    75% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

}

@keyframes twitch {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    35% {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }

    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    75% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

}

@-webkit-keyframes left-rotate {
    0%,
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }

    35% {
        -webkit-transform: rotateZ(-4deg);
        transform: rotateZ(-4deg);
    }

}

@keyframes left-rotate {
    0%,
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }

    35% {
        -webkit-transform: rotateZ(-4deg);
        transform: rotateZ(-4deg);
    }

}

@-webkit-keyframes right-rotate {
    0%,
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }

    50% {
        -webkit-transform: rotateZ(1deg);
        transform: rotateZ(1deg);
    }

}

@keyframes right-rotate {
    0%,
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }

    50% {
        -webkit-transform: rotateZ(1deg);
        transform: rotateZ(1deg);
    }

}

@-webkit-keyframes raise {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

}

@keyframes raise {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

}

@-webkit-keyframes skew {
    0%,
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }

    50% {
        -webkit-transform: skew(1.5deg, -1.5deg);
        transform: skew(2deg, -1.5deg);
    }

}