.nose
{
    animation: twitch 1s infinite;
}


.harvey:hover svg > .eyebrow,
.harvey:focus svg > .eyebrow
{
    animation: raise 2s 1;
}


.harvey:hover svg > .mouth,
.harvey:hover svg > .mouth
{
    animation: skew 2s 1;
}

.right-ear
{
    transition: all 1s ease;
}

.right-ear:hover
{
    transition: all 2s ease;
    transform: rotateZ(3deg);
}

.left-ear
{
    transition: all 1s ease;
}

.left-ear:hover
{
    transition: all 2s ease;
    transform: rotateZ(-5deg);
}


@keyframes twitch
{
    0%,
    100%
    {
        transform: translateY(0);
    }

    35%
    {
        transform: translateY(-1px);
    }

    50%
    {
        transform: translateY(0px);
    }

    75%
    {
        transform: translateY(-2px);
    }
}


@keyframes left-rotate
{
    0%,
    100%
    {
        transform: rotateZ(0deg);
    }

    35%
    {
        transform: rotateZ(-4deg);
    }
}


@keyframes right-rotate
{
    0%,
    100%
    {
        transform: rotateZ(0deg);
    }

    50%
    {
        transform: rotateZ(1deg);
    }
}


@keyframes raise
{
    0%,
    100%
    {
        transform: translateY(0);
    }

    50%
    {
        transform: translateY(-5px);
    }
}

@-webkit-keyframes skew {
    0%,
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }

    50% {
        -webkit-transform: skew(1.5deg, -1.5deg);
        transform: skew(2deg, -1.5deg);
    }

}