
body
{
    font: 24px Raleway;
    line-height: 1.5em;

    width: 100%;
    height: 100%;
    margin: 0;

    color: #e3e3e3;
    background: #2d2d2d;
}
.auto-margin
{
    margin: auto;
}

.style-link
{
    color: #5b7da2;
}

.navigation
{
    z-index: 1000;

    width: 100%;
    height: 10vh;

    color: #e3e3e3;
    background: #5b7da2;
}


.navigation-list
{
    font-size: x-large;

    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 1em;

    list-style: none;

    justify-content: space-around;
}

.nav
{
    color: #e3e3e3;
}

.code-example
{
    font-size: 0.8em;

    text-align: justify;

    border-bottom: 4vmin solid #373e48;
}

.city-background
{
    width: 99%;
    height: 100vh;

    text-align: center;

    background: url(../img/omaha.jpeg) no-repeat fixed;
    background-position-x: center;
    background-size: cover;
}

.city-overlay
{
    position: relative;
    top: 25%;

    width: 50%;

    border: 0.4em double black;
    background-color: #e3e3e3;

    mix-blend-mode: lighten;
}

.city-overlay-header
{
    color: #5b7da2;
}

.boxed
{
    border: 0.4em dashed #333;
}

.caption-heading
{
    position: relative;
    top: 25%;
}

.next
{
    display: block;

    transform: translate(0);
    text-align: center;
}

.github
{
    height: 50vh;
}

.next:after
{
    position: absolute;
    bottom: -2vmin;
    left: 50%;

    width: 0;
    height: 0;
    margin-left: -12px;

    content: '';
    transition: all 1500ms ease;

    border-top: 12px solid #e3e3e3;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}

.next:hover:after
{
    margin-top: 1em;

    border-top: 12px solid #8ba4be;
}

.next:focus:after
{
    transform: translateY(15em);

    opacity: 0;
}

.center-text
{
    max-width: 100%;

    text-align: center;
}

.row
{
    min-height: 100vh;
}

.next-bumper
{
    height: 50vh;
}

.button
{
    font-size: 3vmin;

    position: relative;
    left: auto;

    display: block;

    width: 28vmin;
    padding: 1vmin;

    cursor: pointer;
    transition: all 0.5s ease;

    border: 0.5vmin solid #fff;
}

.looking-for-work
{
    overflow: hidden;

    transform: translate(250%, 250%);

    color: #fff;
}

.looking-for-work .button-reveal
{
    position: absolute;
    top: -30vmin;
    left: 0;

    width: 100%;
    padding: 5vmin 0;

    transition: all 0.3s ease;
    text-align: center;

    color: #fff;
    background-color: #5b7da2;
}

.looking-for-work:hover .button-reveal
{
    top: 0;
}


.hire-me
{
    height: 100vh;

    opacity: 0.7;
    background: url('../img/balloons.jpeg') fixed bottom;
    background-size: cover;
}


.intro
{
    display: -ms-flexbox;
    display: flex;

    height: 90vh;

    color: #e3e3e3;
    background: #2d2d2d;

    -ms-flex-pack: center;
    justify-content: center;
}
.intro-text
{
    font-size: 200%;
    line-height: initial;
}

.intro-left
{
    position: relative;
    left: 0;

    width: 20%;

    background-image: repeating-linear-gradient(230deg, transparent, transparent 25px, rgba(30, 30, 30, 0.11) 25px, rgba(30, 30, 30, 0.11) 50px);
    box-shadow: 0 5px 10px #202020;
}

.intro-right
{
    position: relative;
    right: 0;

    width: 20%;

    background-image: repeating-linear-gradient(130deg, transparent, transparent 25px, rgba(30, 30, 30, 0.11) 25px, rgba(30, 30, 30, 0.11) 50px);
    box-shadow: 0 5px 10px #202020;
}

.intro-content
{
    font-size: 3vmin;
    line-height: 6vmin;

    width: 80%;
    margin: auto 0;

    text-align: center;
}

.offset-text
{
    font-size: medium;

    position: relative;

    width: 50%;
}

.offset-left
{
    left: 0;

    padding-right: 0;
}

.offset-right
{
    right: -50%;

    padding-left: 5vmin;
}

.text-justify
{
    text-align: justify;
}

.social-text-icon
{
    height: 7vmin;
    margin: 1em;

    border-bottom: 0.5em solid transparent;
}

.social-text-icon:hover,
.social-text-icon:focus
{
    border-bottom: 0.5em solid #5b7da2;
}

.section-heading
{
    color: #b7c4c8;
}


.bounce
{
    transition: all 700ms ease-out;
    transform: translate3d(0px, 200px, 0px);

    opacity: 0;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

/*noinspection CssUnusedSymbol*/
.in-view
{
    transform: translate3d(0px, 0px, 0px);

    opacity: 1;
}

.highlight
{
    text-decoration: none;

    border-bottom: 0.1em solid #5b7da2;
}

.highlight:hover
{
    box-shadow: 0 0.1em 0 #5b7da2;
}

.toggle[type='checkbox']
{
    position: absolute;

    opacity: 0;
}

.toggle[type='checkbox']:focus + .toggle-helper
{
    color: white;
    background-color: #5b7da2;
}

.toggle[type='checkbox']:hover + .toggle-helper
{
    color: white;
}

.toggle-helper
{
    position: relative;

    display: block;

    padding: 0.5em;

    cursor: pointer;
    text-align: center;
    text-decoration: underline;

    color: white;
    background-color: #373e48;
}

.toggle-content
{
    overflow: hidden;

    height: 0;

    text-align: center;
}

.banner-text
{
    margin: 0;
}

.bump
{
    padding-top: 10vh;
}


.traits-icon
{
    height: 5em;
    padding-top: 3em;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
#resume-toggle:checked ~ #resume-content,
#hello-toggle:checked ~ #hello-content
{
    height: auto;
    padding: auto;
}

/*for-phone-only */
@media (max-width:599px)
{
    .auto-margin
    {
        width: 90%;
    }
}

/*for-tablet-portrait-up */
@media (min-width:600px)
{
    .auto-margin
    {
        width: 75%;
    }
}

/*for-tablet-landscape-up */
@media (min-width:900px)
{
    .auto-margin
    {
        width: 50%;
    }
}

/*for-desktop-up */
@media (min-width:1200px)
{
}

/*for-big-desktop-up */
@media (min-width:1800px)
{
}
