body {
    font: 24px Raleway;
    line-height: 1.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #e3e3e3;
    background: #2d2d2d;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.midde {
    height: 50vh;
}

.harvey {
    cursor: pointer;
}

.banner input:checked + .harvey {
    width: 60%;
    height: calc(100vh);
    margin-top: 50vh;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    text-align: center;
    color: #5b7da2;
}

li.position {
    font-weight: 500;
}

.skills {
    font-size: smaller;
    margin-top: 0;
    padding-top: 0;
    text-align: end;
    text-align: end;
}

.banner input:not(:checked) + .harvey {
    width: 25vw;
    height: 250px;
    margin-top: 0;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-transform: scale(.4);
    transform: scale(.4);
    text-align: center;
}

.banner input:checked + .harvey > svg {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.banner input:not(:checked) + .harvey > svg {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

body {
    background: #333;
}

.wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 99vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.harvey {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.nose {
    -webkit-animation: twitch 1s infinite;
    animation: twitch 1s infinite;
}

.harvey:hover * .eyebrow,
.harvey:focus * .eyebrow {
    -webkit-animation: raise 2s 1;
    animation: raise 2s 1;
}

.harvey:hover * .mouth,
.harvey:focus * .mouth {
    -webkit-animation: skew 2s 1;
    animation: skew 2s 1;
}

.right-ear {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.right-ear:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
}

.left-ear {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.left-ear:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
}

@-webkit-keyframes twitch {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    35% {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }

    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    75% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

}

@keyframes twitch {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    35% {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }

    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    75% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

}

@-webkit-keyframes left-rotate {
    0%,
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }

    35% {
        -webkit-transform: rotateZ(-4deg);
        transform: rotateZ(-4deg);
    }

}

@keyframes left-rotate {
    0%,
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }

    35% {
        -webkit-transform: rotateZ(-4deg);
        transform: rotateZ(-4deg);
    }

}

@-webkit-keyframes right-rotate {
    0%,
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }

    50% {
        -webkit-transform: rotateZ(1deg);
        transform: rotateZ(1deg);
    }

}

@keyframes right-rotate {
    0%,
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }

    50% {
        -webkit-transform: rotateZ(1deg);
        transform: rotateZ(1deg);
    }

}

@-webkit-keyframes raise {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

}

@keyframes raise {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

}

.cilantro {
    position: relative;
    z-index: -1;
    top: -100px;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -webkit-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);
    text-align: center;
    opacity: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.harvey:hover *.cilantro {
    -webkit-animation: rock 2s 10;
    animation: rock 2s 10;
    opacity: 1;
}

@-webkit-keyframes skew {
    0%,
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }

    50% {
        -webkit-transform: skew(1.5deg, -1.5deg);
        transform: skew(2deg, -1.5deg);
    }

}

.intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url('omaha.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: center;
}

.ballon {
    height: 100vh;
    opacity: .7;
    background-image: url(boop.jpeg);
    background-position: bottom;
    background-size: cover;
}

.hi {
    color: white;
}

.next {
    display: block;
    transform: translateZ(0);
    text-align: center;
    color: white;
    webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.next:hover {
    color: white;
}

.next:after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -12px;
    content: '';
    transition: all 1500ms ease;
    border-top: 12px solid #8ba4be;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}

.next:hover:after {
    margin-top: 1em;
    border-top: 12px solid white;
}

.next:focus:after {
    transform: translateY(15em);
    opacity: 0;
}

.column {
    padding-top: 2em;
    cursor: pointer;
    transition: padding 3600ms, opacity 1000ms, color 3600ms;
    opacity: .2;
    box-shadow: 0 3px 0 #3f5771;
    flex-basis: 30%;
}

.column:hover {
    padding-top: 0;
    opacity: 1;
    box-shadow: 0 3px 0 #8ba4be;
}

.center {
    max-width: 100%;
    text-align: center;
}

.flat {
    margin: 0;
    padding-bottom: 2em;
}

.row {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 2em;
    justify-content: flex-start;
}

.expert {
    display: flex;
    padding-bottom: 2em;
    justify-content: space-between;
}

.expert-list > li {
    font-size: small;

}

.expert-list > li:hover {
    font-size: large;
}

h4 {
    color: #5b7da2;
}

h5 {
    margin-bottom: 0;
}

.summary {
    font-size: large;
    margin-bottom: 0;
}

.aButton {
    position: relative;
    display: block;
    width: 225px;
    margin: 50px auto;
    padding: 20px;
    cursor: pointer;
    transition: all .5s ease;
    border: none;
    border: 2px solid #fff;
}

.bump {
    padding-bottom: 5em;
}

.email {
    overflow: hidden;
    transform: translateY(200%);
    color: #fff;
}

.email .reveal {
    position: absolute;
    top: -4em;
    left: 0;
    width: 100%;
    padding: 20px 0;
    transition: all .3s ease;
    text-align: center;
    color: #fff;
    background-color: #57789b;
}

.email:hover .reveal {
    top: 0;
}

.banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 50px;
    color: #e3e3e3;
    background: #2d2d2d;
}

.banner-left {
    background-image: -webkit-repeating-linear-gradient(220deg, transparent, transparent 25px, rgba(30, 30, 30, .11) 25px, rgba(30, 30, 30, .11) 50px);
    background-image: repeating-linear-gradient(230deg, transparent, transparent 25px, rgba(30, 30, 30, .11) 25px, rgba(30, 30, 30, .11) 50px);
    box-shadow: 0 5px 10px #202020;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.banner-right {
    background-image: -webkit-repeating-linear-gradient(320deg, transparent, transparent 25px, rgba(30, 30, 30, .11) 25px, rgba(30, 30, 30, .11) 50px);
    background-image: repeating-linear-gradient(130deg, transparent, transparent 25px, rgba(30, 30, 30, .11) 25px, rgba(30, 30, 30, .11) 50px);
    box-shadow: 0 5px 10px #202020;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

nav {
    z-index: 100;
    z-index: 1000;
    width: 100%;
    min-height: 100px;
    background: #5b7da2;
    box-shadow: 0 5px 10px #2d2d2d;
}

nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    list-style: none;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

nav a {
    font-weight: bolder;
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #eef2f5;
}

footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    border-top: 1px solid #353535;
    background: #2d2d2d;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

footer ul {
    font-size: smaller;
    list-style: none;
}

footer a {
    font-weight: bolder;
    display: block;
    text-decoration: none;
    color: #eef2f5;
}

footer a:hover {
    color: #57789b;
}

footer aside#nav {
    padding-right: 50px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 300px;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

footer aside#email {
    -webkit-box-flex: 2;
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

::-moz-selection {
    background: #d9c7bc;
}

::selection {
    background: #d9c7bc;
}

article::-moz-selection {
    background: #bccad9;
}

article::selection {
    background: #bccad9;
}

nav::-moz-selection {
    background: #c4bcd9;
}

nav::selection {
    background: #c4bcd9;
}

main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    background: #2d2d2d;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

main article {
    z-index: 50;
    width: 100%;
    color: #2d2d2d;
    background: #eef2f5;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .8);
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

main nav {
    font-size: small;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .8);
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

main header.resume {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    color: black;
    background: #e6e6e6;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

main header.resume .me-me {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

main header.resume h1.first-name {
    font-weight: initial;
    margin: 0;
    text-transform: uppercase;
    color: black;
}

main header.resume h1.last-name {
    font-weight: lighter;
    margin: 0;
    text-transform: lowercase;
    color: #666;
}

main header.resume .contact-me {
    font-size: .5em;
    line-height: normal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
}

main header.resume .contact-me h3 {
    font-size: large;
    font-weight: initial;
}

main header.resume h3.quote {
    font-weight: normal;
    padding: .5em;
    color: #808080;
    border-left: .2em solid #808080;
}

main header.resume h1 title,
main header.resume h3 title {
    color: black;
}

main section {
    width: 100%;
}

main details {
    border-radius: 7pt;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

img.icon {
    margin-right: 1em;
}

ul.icons-things {
    padding-left: 0;
    text-align: center;
    border: 2px solid black;
    background: #b3b3b3;
    box-shadow: 3px 10px 8px 1px black;
}

ul.name-things {
    margin-right: 1em;
}

ul.icons-things > li {
    padding: 1em;
}

ul {
    list-style: none;
}

.header {
    width: 100%;
    padding-bottom: .5em;
    text-align: left;
    background: url('gray-border.png') repeat-x scroll 100% 100%;
}

.title {
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: .6em;
    color: black;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.inline-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    padding: 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

hr {
    position: relative;
    top: -1em;
    left: 25%;
    width: 75%;
    margin: 0;
    padding: 0;
    color: black;
    border-style: double;
}

.history ul {
    list-style: none;
}

.history ul li.company {
    font-size: xx-large;
    font-weight: bold;
}

.history ul li.industry {
    font-weight: 800;
}

.history ul li.location {
    font-weight: normal;
}

.history ul span.date-range {
    font-size: medium;
    font-weight: 400;
    margin-left: .5em;
    color: #848484;
}

#logo-helper {
    display: none;
}

input,
textarea {
    margin: 0 0 20px 10px;
    padding: 8px 5px;
    color: #eef2f5;
    border: 1px solid #222;
    outline-color: #5b7da2;
    background: -webkit-linear-gradient(#1f2124, #27292c);
    background: linear-gradient(#1f2124, #27292c);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

input[type=text] {
    width: 50%;
}

.words {
    font-size: smaller;
    height: 2em;
    padding: 2em 0;
    opaicty: 0;
}

ul.icons-things > li > img:hover {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.ranger:focus {
    outline: none;
}

.ranger {
    height: 1px;
    margin: 0;
    margin: 10px;
    cursor: pointer;
    vertical-align: bottom;
    background: -webkit-linear-gradient(left, #5b7da2 0%, #5b7da2 50%, #b3b3b3 50%, #b3b3b3 55%, gray 55%, gray 100%);
    background: linear-gradient(to right, #5b7da2 0%, #5b7da2 50%, #b3b3b3 50%, #b3b3b3 55%, gray 55%, gray 100%);
    -webkit-appearance: none;
    transitionx: .1s ease-in;
}

.ranger::-webkit-slider-thumb {
    width: 1em;
    height: 2em;
    cursor: pointer;
    border: 2px solid #496481;
    border-radius: 0;
    background: #5b7da2;
    box-shadow: 1px 1px 2px #5b7da2;
    -webkit-appearance: none;
}

textarea {
    min-width: 600px;
    min-height: 75px;
}

input[type=submit] {
    font-weight: bold;
    float: right;
    margin: 20px;
    padding: 10px 10px;
    color: #eef2f5;
    border: 3px solid #5b7da2;
    background: #5b7da2;
    box-shadow: 0 3px 0 0 #364b61;
}

input[type=submit]:hover {
    box-shadow: 0 2px 0 0 #364b61;
}

@-webkit-keyframes opens {
    0% {
        overflow-y: auto;
        width: 50%;
        word-wrap: nowrap;
        opacity: .0;
        color: #303030;
        background-color: #fefefe;
    }

    50% {
        background-color: #2d2d2d;
    }

    100% {
        width: 100%;
        opacity: 1;
    }

}

@keyframes opens {
    0% {
        overflow-y: auto;
        width: 50%;
        word-wrap: nowrap;
        opacity: .0;
        color: #303030;
        background-color: #fefefe;
    }

    50% {
        background-color: #2d2d2d;
    }

    100% {
        width: 100%;
        opacity: 1;
    }

}

details[open] {
    overflow: auto;
    overflow: hidden;
    content: '';
    -webkit-animation-name: opens;
    animation-name: opens;
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    border-top: 1px solid #353535;
    border-top: 1px solid #353535;
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, .2);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

details {
    display: inline-block;
    text-align: center;
    border-top: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
}

details:hover {
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
}

details[open]:hover {
    color: #e3e3e3;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
}

summary {
    outline: none;
}

summary::-webkit-details-marker {
    color: #5b7da2;
}

tr:nth-child(odd) {
    background-color: #282828;
}

tr:nth-child(even) {
    background-color: #323232;
}

#comments.yield {
    width: auto;
}

#commenter {
    font-size: medium;
}

@media all and (min-width:1200px) {
    main,
    footer {
        width: 1200px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }

}

body:before {
    position: fixed;
    z-index: 100;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    box-shadow: 0 5px 10px rgba(0, 0, 0, .8);
}

#contact {
    border-top: 0 solid;
}

footer > h3 {
    font-size: smaller;
}

p.smaller {
    font-size: smaller;
    padding: 0;
}

.code {
    font-family: Consolas;
    font-size: small;
    line-height: 2;
    display: inline;
    width: auto;
    padding: 0 3px;
    white-space: normal;
    border: 1px solid #606060;
    border-radius: 2px;
}

#global_variable.code {
    color: blue;
    border: 0;
}

#string.code {
    color: #7da25b;
    border: 0;
}

#comment.code {
    color: gray;
    border: 0;
}

#normal.code {
    color: white;
    border: 0;
}

#number.code {
    color: #a25d5b;
    border: 0;
}

#reserved.code {
    color: #a2805b;
    border: 0;
}

#signature.code {
    color: #5b7da2;
    border: 0;
}

#method.code {
    color: #816648;
    border: 0;
}

div.code {
    display: inline-block;
    text-align: left;
}

#excuse {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    max-width: 1200px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

#excuse > div.code {
    position: relative;
    top: 150px;
    max-height: 600px;
    -webkit-transition: all 1s ease-in-out;
    -webkit-animation: bubble 1.0s forwards;
    animation: bubble 1.0s forwards;
    opacity: .1;
    align-slef: center;
}

#excuse > div.code:hover {
    top: 0;
    opacity: .9;
}

#yay {
    display: block;
    width: auto;
    height: auto;
}

#yay:hover {
    font-style: bolder;
    -webkit-animation: ripple .6s ease-in-out 2;
    animation: ripple .6s ease-in-out 2;
    border-radius: 50px;
}

@-webkit-keyframes ripple {
    0% {
        opacity: .25;
        color: #5b7da2;
        background-color: #5b7da2;
        box-shadow: 1 0 0 5 rgba(91, 125, 162, .1), 0 0 0 20px rgba(91, 125, 162, .1), 0 0 0 40px rgba(91, 125, 162, .1), 0 0 0 60px rgba(91, 125, 162, .1);
    }

    25% {
        opacity: .4;
        box-shadow: 0 0 0 10px rgba(91, 125, 162, .1), 0 0 0 25px rgba(91, 125, 162, .1), 0 0 0 50px rgba(91, 125, 162, .1), 0 0 0 70px rgba(91, 125, 162, 0);
    }

    75% {
        opacity: .8;
        box-shadow: 0 0 0 15px rgba(91, 125, 162, .1), 0 0 0 35 rgba(91, 125, 162, .1), 0 0 0 55px rgba(91, 125, 162, 0), 0 0 0 80px rgba(91, 125, 162, 0);
    }

    100% {
        opacity: 0;
        box-shadow: 0 0 0 20px rgba(91, 125, 162, .1), 0 0 0 40px rgba(91, 125, 162, 0), 0 0 0 60px rgba(91, 125, 162, 0), 0 0 0 80px rgba(91, 125, 162, 0);
    }

}

@keyframes ripple {
    0% {
        opacity: .25;
        color: #5b7da2;
        background-color: #5b7da2;
        box-shadow: 1 0 0 5 rgba(91, 125, 162, .1), 0 0 0 20px rgba(91, 125, 162, .1), 0 0 0 40px rgba(91, 125, 162, .1), 0 0 0 60px rgba(91, 125, 162, .1);
    }

    25% {
        opacity: .4;
        box-shadow: 0 0 0 10px rgba(91, 125, 162, .1), 0 0 0 25px rgba(91, 125, 162, .1), 0 0 0 50px rgba(91, 125, 162, .1), 0 0 0 70px rgba(91, 125, 162, 0);
    }

    75% {
        opacity: .8;
        box-shadow: 0 0 0 15px rgba(91, 125, 162, .1), 0 0 0 35 rgba(91, 125, 162, .1), 0 0 0 55px rgba(91, 125, 162, 0), 0 0 0 80px rgba(91, 125, 162, 0);
    }

    100% {
        opacity: 0;
        box-shadow: 0 0 0 20px rgba(91, 125, 162, .1), 0 0 0 40px rgba(91, 125, 162, 0), 0 0 0 60px rgba(91, 125, 162, 0), 0 0 0 80px rgba(91, 125, 162, 0);
    }

}

.carousel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.carousel ul {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    min-height: 230px;
    margin: 0;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.carousel li {
    position: relative;
    display: block;
    min-width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    opacity: .2;
    border: 1px solid white;
}

.carousel li:hover,
.carousel li.selected,
.carousel li.selected:after {
    min-height: 220px;
    opacity: 1;
    background: rgba(30, 30, 30, .5);
    background: -webkit-linear-gradient(top, #2d2d2d 58%, #252525 58%);
    background: linear-gradient(to bottom, #2d2d2d 58%, #252525 58%);
    box-shadow: 0 12px 0 0 rgba(30, 30, 30, .5);
}

.carousel .button {
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px;
    color: #eef2f5;
    background: #5b7da2;
    box-shadow: 0 3px 0 0 #364b61;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.carousel .button:hover {
    opacity: 1;
    background: #5b7da2;
    background: -webkit-linear-gradient(top, #5b7da2 58%, #557598 58%);
    background: linear-gradient(to bottom, #5b7da2 58%, #557598 58%);
    box-shadow: 0 12px 0 0 rgba(30, 30, 30, .5);
}

.carousel #articles,
.carousel .button:after {
    display: block;
    content: '';
    opacity: 1;
    background: ligthen(#5b7da2, 20%);
    filter: alpha(opacity=40);
}

.map-container {
    padding: 0 6em;
    background: #b7c4c8;
}

.map {
    position: relative;
}

svg {
    max-width: 100%;
    height: auto;
}

.map-markers {
    margin: 0;
    padding: 0;
    list-style: none;
}

.map-marker {
    position: absolute;
}

.map-marker:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    margin: -.5em 0 0 -.5em;
    content: '';
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    border: 1px solid #373e48;
    border-radius: 50%;
}

.map-marker:hover .map-marker-info {
    display: block;
}

.map-marker a {
    display: block;
    width: 1em;
    height: 1em;
    text-indent: -9999px;
    border-radius: 50%;
    background-color: #ce606f;
}

.map-marker- {
    top: 35%;
    left: 65%;
}

.map-marker-scottsbluff {
    top: 46%;
    left: 28%;
}

li.map-marker.map-marker-scottsbluff > a {
    width: .30em;
    height: .30em;
    border: .2em solid black;
    background-color: #b7c4c8;
}

.map-marker-laramie {
    top: 50%;
    left: 10%;
}

li.map-marker.map-marker-laramie > a {
    width: .4em;
    height: .4em;
    border: .2em solid black;
    background-color: #373e48;
}

.map-marker-omaha {
    top: 52%;
    left: 87%;
}

li.map-marker.map-marker-omaha > a {
    width: .8em;
    height: .8em;
    border: 4px solid black;
    background-color: #b7c4c8;
}

.map-marker-denver {
    top: 70%;
    left: 15%;
}

li.map-marker.map-marker-denver > a {
    border: .2em solid black;
    background-color: #373e48;
}

.map-marker-info {
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 50%;
    display: none;
    width: auto;
    -webkit-transform: translate(-50%, -2em);
    transform: translate(-50%, -2em);
}

.map-marker-info h2 {
    padding: .5em;
    text-align: center;
    color: #eef2f5;
    border-radius: .2em;
    background-color: #5b7da2;
}

.map-marker-info-inner:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 1em solid #5b7da2;
    border-right: .75em solid transparent;
    border-left: .75em solid transparent;
}

.hovered {
    display: block;
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounce-in {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        opacity: 0;
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
        opacity: 1;
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

}

@keyframes bounce-in {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        opacity: 0;
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
        opacity: 1;
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

}

.animate-bounce-in {
    -webkit-animation-name: bounce-in;
    animation-name: bounce-in;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}

@-webkit-keyframes pop {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        box-shadow: none;
    }

    8% {
        opacity: .4;
    }

    10% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: 1px 0 16px 3px #373e48;
    }

}

@keyframes pop {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        box-shadow: none;
    }

    8% {
        opacity: .4;
    }

    10% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: 1px 0 16px 3px #373e48;
    }

}

.animate-pop {
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.simpsons-intro {
    font-family: 'Gloria Hallelujah', 'Brush Script MT', cursive;
    font-weight: bold;
    overflow: hidden;
    height: 100vh;
    text-align: center;
    color: #f9e143;
    background: #58a7e0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.above,
.below {
    height: 33vh;
    background: #333;
}

.the-simpsons {
    position: relative;
    -webkit-transition: font-size ease 5s;
    transition: font-size  ease 5s;
    font-size: 1em;
}

.zoom {
    z-index: 100;
    font-size: 8em;
}

.doh {
    padding: .7em;
    margin-top: -1em;
}

.top {
    width: 100%;
    height: 25%;
}

.middle {
    top: 0;
    width: 100%;
    height: 25%;
}

.bottom {
    top: 2%;
    width: 100%;
    height: 25%;
}

.clouds {
    position: relative;
    z-index: 10;
    margin: 0;
}

.clouds > div {
    position: absolute;
    min-width: 100px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    border-radius: 15em;
    background: #fafbf0;
    box-shadow: inset -1em -2em 0 0 #f7e7eb;
}

.clouds > div:before,
.clouds > div:after {
    position: absolute;
    min-width: 100px;
    content: '';
    border-radius: 15em;
    background: #fafbf0;
    box-shadow: inset -1em -1em 0 0 #f7e7eb;
}

.cloud-one {
    top: -16%;
    left: -9%;
    width: 40%;
    height: 61%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.cloud-one:before {
    top: -63%;
    left: -62%;
    width: 100%;
    height: 145%;
}

.cloud-one:after {
    top: 51%;
    left: 1%;
    width: 110%;
    height: 57%;
}

.cloud-two {
    z-index: -1;
    top: 64%;
    left: 28%;
    width: 23%;
    height: 38%;
}

.cloud-two:before {
    top: -63%;
    left: 13%;
    width: 57%;
    height: 145%;
}

.cloud-two:after {
    top: 34%;
    left: 1%;
    width: 110%;
    height: 80%;
}

.cloud-three {
    top: 0;
    left: 61%;
    width: 46%;
    height: 73%;
}

.cloud-three:before {
    top: -50%;
    left: 61%;
    width: 61%;
    height: 145%;
}

.cloud-three:after {
    top: 66%;
    left: -13%;
    width: 97%;
    height: 57%;
}

.cloud-four {
    top: -4%;
    left: -10%;
    width: 50%;
    height: 100%;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}

.cloud-four:before {
    top: -55%;
    left: -59%;
    width: 100%;
    height: 126%;
}

.cloud-four:after {
    top: 72%;
    left: 1%;
    width: 110%;
    height: 50%;
}

.cloud-five {
    top: 28%;
    left: 58%;
    width: 34%;
    height: 77%;
}

.cloud-five:before {
    top: -63%;
    left: 44%;
    width: 100%;
    height: 145%;
}

.cloud-five:after {
    top: 72%;
    left: 41%;
    width: 110%;
    height: 50%;
}

.cloud-six {
    top: 12%;
    left: 49%;
    width: 50%;
    height: 85%;
}

.cloud-six:before {
    top: 63%;
    left: 62%;
    width: 100%;
    height: 145%;
}

.cloud-six:after {
    top: 72%;
    left: 1%;
    width: 110%;
    height: 50%;
}

.cloud-seven {
    top: 74%;
    left: -8%;
    width: 37%;
    height: 83%;
}

.cloud-seven:before {
    top: 63%;
    left: 0;
    width: 100%;
    height: 145%;
}

.cloud-seven:after {
    top: 72%;
    left: 0;
    width: 110%;
    height: 50%;
}

.cloud-eight {
    top: 50%;
    left: 39%;
    width: 38%;
    height: 84%;
}

.cloud-eight:before {
    top: 63%;
    left: 62%;
    width: 100%;
    height: 145%;
}

.cloud-eight:after {
    top: 72%;
    left: 1%;
    width: 110%;
    height: 50%;
}

.cloud-nine {
    top: 38%;
    left: 23%;
    width: 26%;
    height: 55%;
}

.cloud-nine:before {
    top: 63%;
    left: 62%;
    width: 63%;
    height: 102%;
}

.cloud-nine:after {
    top: 72%;
    left: -10%;
    width: 95%;
    height: 137%;
}

.cloud-span {
    position: absolute;
    content: '';
    border-radius: 100%;
    background: #fafbf0;
}

.left > .bubble-one {
    top: -19%;
    left: 72%;
    width: 18%;
    height: 60%;
}

.left > .bubble-two {
    top: -19%;
    left: 41%;
    width: 35%;
    height: 60%;
}

.right > .bubble-one {
    top: -19%;
    left: 10%;
    width: 18%;
    height: 60%;
}

.right > .bubble-two {
    top: -19%;
    left: 20%;
    width: 27%;
    height: 60%;
}

.to-left {
    -webkit-transform: translate(-60%, 0);
    transform: translate(-60%, 0);
}

.to-right {
    -webkit-transform: translate(40%, 0);
    transform: translate(40%, 0);
}

ul.name-things > li:nth-child(1):hover + ul.icons-things > li:nth-child(1) {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

@media all and (max-width:600px) {
    .expert {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer {
        flex-direction: column;
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }

    .zoom {
        font-size: 4em;
    }

    nav > ul {
        padding: 0;
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    }

    .yield > nav {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .yield > nav > ul {
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    nav a {
        padding: 10px;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, .3);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    nav > li:last-of-type a {
        border-bottom: none;
    }

    details,
    details[open] {
        margin: 0 0 0;
    }

    header {
        padding: 0;
    }

    aside {
        margin: 0 10px;
        padding: 10px 0;
    }

    textarea {
        min-width: 400px;
        min-height: 75px;
    }

}