.code {
  font-family: 'Consolas', monospace;
  line-height: 2;
  display: inline;
  width: auto;
  padding: 0 3px;
  white-space: normal;
  border: 1px solid #606060;
  border-radius: 2px;
}

.string.code {
  color: #7da25b;
  border: 0;
}

.comment.code {
  color: gray;
  border: 0;
}

.normal.code {
  color: white;
  border: 0;
}

.number.code {
  color: #a25d5b;
  border: 0;
}

.reserved.code {
  color: #a2805b;
  border: 0;
}

.signature.code {
  color: #7c95b9;
  border: 0;
}

.method.code {
  color: #816648;
  border: 0;
}

div.code {
  display: inline-block;
  text-align: left;
  background: #2d2d2d;
}

.excuse > div.code {
  font-size: smaller;
  position: relative;
  top: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0.1;
}

.excuse > div.code:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 1;
}
.nose {
  -webkit-animation: twitch-nose 1s infinite;
  animation: twitch-nose 1s infinite;
}

.harvey-svg {
  width: 100%;
}

.harvey:hover .harvey-svg > .eyebrow,
.harvey:focus .harvey-svg > .eyebrow {
  -webkit-animation: raise-eyebrows 2s 1;
  animation: raise-eyebrows 2s 1;
}

.harvey:hover .harvey-svg > .mouth,
.harvey:focus .harvey-svg > .mouth {
  -webkit-animation: smirk-mouth 2s 1;
  animation: smirk-mouth 2s 1;
}

.harvey:hover .harvey-svg,
.harvey:focus .harvey-svg {
  -webkit-animation: shake-head 2s 1;
  animation: shake-head 2s 1;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.right-ear {
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.right-ear:hover,
.right-ear:focus {
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  -webkit-transform: rotateZ(3deg);
  -ms-transform: rotate(3deg);
  transform: rotateZ(3deg);
}

.left-ear {
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.left-ear:hover,
.left-ear:focus {
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  -webkit-transform: rotateZ(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotateZ(-5deg);
}

@-webkit-keyframes shake-head {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 1px, 0) rotate(2deg);
    transform: translate3d(-1px, 1px, 0) rotate(2deg);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, -2px, 0)  rotate(-2deg);
    transform: translate3d(2px, -2px, 0)  rotate(-2deg);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, -2px, 0)  rotate(4deg);
    transform: translate3d(-4px, -2px, 0)  rotate(4deg);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 2px, 0)  rotate(-4deg);
    transform: translate3d(4px, 2px, 0)  rotate(-4deg);
  }
}

@keyframes shake-head {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 1px, 0) rotate(2deg);
    transform: translate3d(-1px, 1px, 0) rotate(2deg);
  }

  20%, 80% {
    -webkit-transform: translate3d(2px, -2px, 0)  rotate(-2deg);
    transform: translate3d(2px, -2px, 0)  rotate(-2deg);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, -2px, 0)  rotate(4deg);
    transform: translate3d(-4px, -2px, 0)  rotate(4deg);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 2px, 0)  rotate(-4deg);
    transform: translate3d(4px, 2px, 0)  rotate(-4deg);
  }
}

@-webkit-keyframes twitch-nose {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  35% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  75% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

@keyframes twitch-nose {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  35% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  75% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

@-webkit-keyframes raise-eyebrows {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes raise-eyebrows {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@-webkit-keyframes smirk-mouth {
  0%, 100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }

  50% {
    -webkit-transform: skew(2deg, -1.5deg);
    transform: skew(2deg, -1.5deg);
  }
}

@keyframes smirk-mouth {
  0%, 100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }

  50% {
    -webkit-transform: skew(2deg, -1.5deg);
    transform: skew(2deg, -1.5deg);
  }
}
body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #e3e3e3;
  background: #2d2d2d;
}

.auto-margin {
  margin: auto;
}

.style-link {
  color: #6b97ca;
}

.style-link:visited {
  color: #7c95b9;
}

.style-link:hover {
  color: #b48888;
}

.navigation {
  z-index: 1000;
  width: 100%;
  height: 10vh;
  background: #7c95b9;
}

.navigation-list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin: 0;
  padding: 1em;
  list-style: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.nav {
  color: #fff;
}

.code-example {
  -webkit-transition: 500mss ease all;
  transition: 500mss ease all;
  text-align: justify;
  border-bottom: 4vmin solid #69778b;
}

.code-example:hover,
.code-example:focus {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.city-background {
  width: 99%;
  height: 100vh;
  text-align: center;
  background: url("../img/omaha.jpeg") no-repeat fixed;
  background-position-x: center;
  background-size: cover;
}

.city-overlay {
  position: relative;
  top: 25%;
  width: 50%;
  border: 0.4em double black;
  background-color: #e3e3e3;
  mix-blend-mode: lighten;
}

.city-overlay-header {
  color: #7c95b9;
}

.boxed {
  border: 0.4em dashed #333;
}

.caption-heading {
  position: relative;
  top: 25%;
}

.next {
  display: block;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  text-align: center;
  outline: 0;
}

.github {
  height: 50vh;
}

.next {
  color: #7c95b9;
}

.next:after {
  position: absolute;
  bottom: -2vh;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -1vmax;
  content: '';
  -webkit-transition: all 1500ms ease;
  transition: all 1500ms ease;
  border-top: 1vmax solid #e3e3e3;
  border-right: 1vmax solid transparent;
  border-left: 1vmax solid transparent;
}

.next:hover:after {
  border-top: 1vmax solid #7c95b9;
}

.next:focus:after {
  -webkit-transform: translateY(15em);
  -ms-transform: translateY(15em);
  transform: translateY(15em);
  opacity: 0;
}

.center-text {
  max-width: 100%;
  text-align: center;
}

.row {
  min-height: 100vh;
}

.next-bumper {
  height: 50vh;
}

.hire-me {
  display: table;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  background: url("../img/balloons.jpeg") fixed bottom;
  background-size: cover;
}

.looking-for-work {
  display: table-cell;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: 0.5vmin solid #fff;
}

.work-reveal {
  width: 25%;
  margin: auto;
  border: 0.5vmin solid #fff;
}

.looking-for-work .work-reveal {
  padding: 5vmin 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  color: #fff;
  background-color: #7c95b9;
}

.looking-for-work:hover .work-reveal,
.looking-for-work:active .work-reveal,
.looking-for-work:focus .work-reveal {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 1;
}

.intro {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 90vh;
  color: #e3e3e3;
  background: #2d2d2d;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.intro-left {
  position: relative;
  left: 0;
  width: 20%;
  background-image: -webkit-repeating-linear-gradient(220deg, transparent, transparent 25px, rgba(30, 30, 30, 0.11) 25px, rgba(30, 30, 30, 0.11) 50px);
  background-image: repeating-linear-gradient(230deg, transparent, transparent 25px, rgba(30, 30, 30, 0.11) 25px, rgba(30, 30, 30, 0.11) 50px);
  -webkit-box-shadow: 0 5px 10px #202020;
  box-shadow: 0 5px 10px #202020;
}

.intro-right {
  position: relative;
  right: 0;
  width: 20%;
  background-image: -webkit-repeating-linear-gradient(320deg, transparent, transparent 25px, rgba(30, 30, 30, 0.11) 25px, rgba(30, 30, 30, 0.11) 50px);
  background-image: repeating-linear-gradient(130deg, transparent, transparent 25px, rgba(30, 30, 30, 0.11) 25px, rgba(30, 30, 30, 0.11) 50px);
  -webkit-box-shadow: 0 5px 10px #202020;
  box-shadow: 0 5px 10px #202020;
}

.intro-content {
  width: 80%;
  margin: auto 1em;
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.read-more-state {
  display: none;
}

.read-more-target {
  overflow: hidden;
  max-height: 1vh;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  opacity: 0;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  overflow: visible;
  max-height: 200vh;
  opacity: 1;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more about my work';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: '';
}

.read-more-state ~ .read-more-wrap:after {
  font-size: 3vmax;
  position: absolute;
  left: 50%;
  content: ' ... ';
}

.read-more-state:checked ~ .read-more-wrap:after {
  content: '';
}

.read-more-trigger {
  cursor: pointer;
  text-decoration: underline;
}

.social-text-icon {
  height: 7vmin;
  margin: 1em;
  border-bottom: 0.5em solid transparent;
}

.social-text-icon:hover,
.social-text-icon:focus {
  border-bottom: 0.5em solid #7c95b9;
}

.section-heading {
  color: #b7c4c8;
}

.bounce {
  -webkit-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -webkit-transform: translate3d(0, 200px, 0);
  transform: translate3d(0, 200px, 0);
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.in-view {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.highlight {
  text-decoration: none;
  border-bottom: 0.1em solid #7c95b9;
}

.highlight:hover {
  -webkit-box-shadow: 0 0.1em 0 #7c95b9;
  box-shadow: 0 0.1em 0 #7c95b9;
}

.toggle[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

.toggle[type='checkbox']:focus + .toggle-helper {
  color: white;
  background-color: #7c95b9;
}

.toggle[type='checkbox']:hover + .toggle-helper {
  color: white;
}

.toggle-helper {
  position: relative;
  display: block;
  padding: 0.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  color: white;
  background-color: #69778b;
}

.toggle-content {
  overflow: hidden;
  height: 0;
  text-align: center;
}

.social-link-icon {
  height: 10vmin;
  padding: 0 1vmin;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.social-link-icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.icon-size {
  height: 10vmin;
}

.banner-text {
  margin: 0;
}

.bump {
  padding-top: 10vh;
}

.wide-element {
  max-width: 100vmin;
}

.traits-icon {
  height: 5em;
  padding-top: 3em;
}

#resume-toggle:checked ~ #resume-content,
#hello-toggle:checked ~ #hello-content {
  height: auto;
}

.slim-text {
  font-size: large;
  padding: 2em;
  -webkit-box-shadow: 0vmax 0.5vmax 1vmax rgba(0, 0, 0, 0.75);
  box-shadow: 0vmax 0.5vmax 1vmax rgba(0, 0, 0, 0.75);
}

.work-card {
  border-left: 1em #69778b solid;
}

@media (max-width:300px) {
  .site-container > * {
    display: none;
  }

  .site-container:before {
    font-size: 7vmin;
    position: absolute;
    top: 50%;
    margin: auto;
    content: 'What are you on, a calculator? \a Just check out my github: \a http://github.com/watthem';
    text-align: center;
    white-space: pre;
    white-space: pre;
  }
}

@media (max-width:599px) {
  body {
    font-size: 2vh;
    line-height: 2;
  }

  .auto-margin {
    width: 90%;
  }

  .offset-text {
    width: auto;
  }

  .offset-right {
    right: 0;
    padding-left: 0;
  }

  .slim-text {
    margin: 2vh 0;
  }
}

@media (min-width:600px) {
  body {
    font-size: 2.5vh;
    line-height: 1.8;
  }

  .auto-margin {
    width: 75%;
  }

  .wide-element {
    width: auto;
  }

  .offset-text {
    width: auto;
  }

  .offset-right {
    right: 0;
    padding-left: 0;
  }

  .slim-text {
    margin: 2vh 0;
  }
}

@media (min-width:900px) {
  body {
    font-size: 2.5vh;
    line-height: 2;
  }

  .auto-margin {
    width: 50%;
  }

  .offset-text {
    position: relative;
    width: 80%;
  }

  .slim-text {
    margin: 0;
  }

  .offset-left {
    left: 0;
    padding-right: 0;
  }

  .offset-right {
    right: -20%;
    padding-left: 5vmin;
  }
}

@media (min-width:1200px) {
  body {
    font-size: 3vh;
    line-height: 1.8;
  }

  .offset-text {
    position: relative;
    width: 50%;
  }

  .offset-right {
    right: -50%;
    padding-left: 5vmin;
  }
}

@media (min-width:1800px) {
  body {
    font-size: 3.2vh;
    line-height: 2;
  }
}
.map-container {
  position: relative;
  margin: auto;
  background: #b7c4c8;
}

.map {
  position: relative;
}

.map-markers {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.map-marker {
  position: absolute;
}

.map-marker:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2vmin;
  height: 2vmin;
  margin: -0.5vmin 0 0 -0.5vmin;
  content: '';
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
  border: 1px solid #373e48;
  border-radius: 50%;
}

.map-marker:hover .map-marker-info {
  display: block;
}

.map-marker a {
  display: block;
  width: 1vmin;
  height: 1vmin;
  text-indent: -9999px;
  border-radius: 50%;
  background-color: #ce606f;
}

/*noinspection CssUnusedSymbol*/

.map-marker- {
  top: 35%;
  left: 65%;
}

.map-marker-scottsbluff {
  top: 46%;
  left: 28%;
}

li.map-marker.map-marker-scottsbluff > a {
  width: 1vmin;
  height: 1vmin;
  border: 0.5vmin solid #333;
  background-color: #b7c4c8;
}

.map-marker-laramie {
  top: 50%;
  left: 10%;
}

li.map-marker.map-marker-laramie > a {
  width: 2vmin;
  height: 2vmin;
  border: 0.5vmin solid #333;
  background-color: #373e48;
}

.map-marker-omaha {
  top: 52%;
  left: 87%;
}

li.map-marker.map-marker-omaha > a {
  width: 3vmin;
  height: 3vmin;
  border: 0.5vmin solid #333;
  background-color: #b7c4c8;
}

.map-marker-denver {
  top: 70%;
  left: 15%;
}

li.map-marker.map-marker-denver > a {
  width: 4vmin;
  height: 4vmin;
  border: 0.5vmin solid #333;
  background-color: #373e48;
}

.map-marker-info {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 50%;
  display: none;
  width: auto;
  -webkit-transform: translate(-50%, -5vmin);
  -ms-transform: translate(-50%, -5vmin);
  transform: translate(-50%, -5vmin);
}

/*noinspection CssUnusedSymbol*/

.hovered {
  display: block;
}

.map-marker-info h2 {
  padding: 3vmin;
  text-align: center;
  color: #e3e3e3;
  border-radius: 1vmin;
  background-color: #7c95b9;
}

.map-marker-info-inner:after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  content: '';
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: white;
  border-top: 3vmin solid #7c95b9;
  border-right: 2vmin solid transparent;
  border-left: 2vmin solid transparent;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounce-in {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1;
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes bounce-in {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1;
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.animate-bounce-in {
  -webkit-animation-name: bounce-in;
  animation-name: bounce-in;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
.loves {
  height: auto;
}

.clouds-middle-row {
  height: 50vh;
}

.simpsons-tv-set {
  position: relative;
  overflow: hidden;
  height: 75vmin;
  margin: auto;
  background-color: #7070a8;
}

.tv-view {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 75%;
  height: 90%;
  background-color: #39419f;
}

.tv-channel {
  top: 15%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tv-volume {
  top: 35%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dial {
  position: absolute;
  right: 5%;
  width: 9%;
  height: 12%;
  border-radius: 100%;
  background-color: #39419f;
}

.screen {
  font-family: 'Gloria Hallelujah', 'Brush Script MT', cursive;
  font-weight: bold;
  position: absolute;
  z-index: 10000;
  top: 7%;
  left: 7%;
  overflow: hidden;
  width: 85%;
  height: 85%;
  text-align: center;
  color: #f9e143;
  border-radius: 20%;
  background: #58a7e0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.simpsons-scene {
  position: relative;
  width: 100%;
  height: 100%;
}

.tv-panel {
  position: absolute;
  top: 55%;
  right: 5%;
  width: 10%;
  height: 30%;
  border-radius: 8%;
  background-color: #39419f;
}

.tv-vents {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tv-line {
  position: absolute;
  top: 5%;
  width: 0.5vmin;
  height: 90%;
  background-color: black;
}

.tv-bordered {
  -webkit-box-shadow: 0 0 0 1vmin black;
  box-shadow: 0 0 0 1vmin black;
}

.the-simpsons {
  -webkit-transition: all ease 5s;
  transition: all ease 5s;
}

.simpsons-text-zoom {
  font-size: 5vmax;
  z-index: 100;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.simpsons-text {
  margin-top: 0.5vmax;
}

.clouds-top-row {
  width: 100%;
  height: 25%;
}

.clouds-middle-row {
  top: 0;
  width: 100%;
  height: 25%;
}

.clouds-bottom-row {
  z-index: 10;
  top: -25%;
  width: 100%;
  height: 25%;
}

.simpsons-clouds {
  position: relative;
  z-index: 0;
  margin: 0;
}

.simpsons-clouds > div {
  position: absolute;
  min-width: 100px;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  border-radius: 15em;
  background: #fafbf0;
  -webkit-box-shadow: inset -1em -2em 0 0 #f7e7eb;
  box-shadow: inset -1em -2em 0 0 #f7e7eb;
}

.simpsons-clouds > div:before,
.simpsons-clouds > div:after {
  position: absolute;
  content: '';
  border-radius: 15em;
  background: #fafbf0;
  -webkit-box-shadow: inset -1em -1em 0 0 #f7e7eb;
  box-shadow: inset -1em -1em 0 0 #f7e7eb;
}

#cloud-one {
  top: -16%;
  left: -9%;
  width: 40%;
  height: 61%;
}

#cloud-one:before {
  top: -63%;
  left: -62%;
  width: 100%;
  height: 145%;
}

#cloud-one:after {
  top: 51%;
  left: 1%;
  width: 110%;
  height: 57%;
}

#cloud-two {
  z-index: -1;
  top: 64%;
  left: 28%;
  width: 23%;
  height: 38%;
}

#cloud-two:before {
  top: -63%;
  left: 13%;
  width: 57%;
  height: 145%;
}

#cloud-two:after {
  top: 34%;
  left: 1%;
  width: 110%;
  height: 80%;
}

#cloud-three {
  top: 0;
  left: 61%;
  width: 46%;
  height: 73%;
}

#cloud-three:before {
  top: -50%;
  left: 61%;
  width: 61%;
  height: 145%;
}

#cloud-three:after {
  top: 66%;
  left: -13%;
  width: 97%;
  height: 57%;
}

#cloud-four {
  top: -4%;
  left: -10%;
  width: 50%;
  height: 100%;
}

#cloud-four:before {
  top: -55%;
  left: -59%;
  width: 100%;
  height: 126%;
}

#cloud-four:after {
  top: 72%;
  left: 50%;
  width: 55%;
  height: 50%;
}

#cloud-five {
  top: 28%;
  left: 58%;
  width: 34%;
  height: 77%;
}

#cloud-five:before {
  top: -63%;
  left: 44%;
  width: 100%;
  height: 145%;
}

#cloud-five:after {
  top: 72%;
  left: 41%;
  width: 110%;
  height: 50%;
}

#cloud-six {
  top: 12%;
  left: 49%;
  width: 50%;
  height: 85%;
}

#cloud-six:before {
  top: 63%;
  left: 62%;
  width: 100%;
  height: 145%;
}

#cloud-six:after {
  top: 72%;
  left: 1%;
  width: 110%;
  height: 50%;
}

#cloud-seven {
  top: 74%;
  left: -8%;
  width: 37%;
  height: 83%;
}

#cloud-seven:before {
  top: 63%;
  left: 0;
  width: 100%;
  height: 145%;
}

#cloud-seven:after {
  top: 72%;
  left: 0;
  width: 110%;
  height: 50%;
}

#cloud-eight {
  top: 50%;
  left: 39%;
  width: 38%;
  height: 84%;
}

#cloud-eight:before {
  top: 63%;
  left: 62%;
  width: 100%;
  height: 145%;
}

#cloud-eight:after {
  top: 72%;
  left: 1%;
  width: 110%;
  height: 50%;
}

#cloud-nine {
  top: 38%;
  left: 23%;
  width: 26%;
  height: 55%;
}

#cloud-nine:before {
  top: 63%;
  left: 62%;
  width: 63%;
  height: 102%;
}

#cloud-nine:after {
  top: 72%;
  left: -10%;
  width: 95%;
  height: 137%;
}

.cloud-span {
  position: absolute;
  content: '';
  border-radius: 100%;
  background: #fafbf0;
}

.clouds-left > .bubble-one {
  top: -19%;
  left: 72%;
  width: 18%;
  height: 60%;
}

.clouds-left > .bubble-two {
  top: -19%;
  left: 41%;
  width: 35%;
  height: 60%;
}

.clouds-right > .bubble-one {
  top: -19%;
  left: 10%;
  width: 18%;
  height: 60%;
}

.clouds-right > .bubble-two {
  top: -19%;
  left: 20%;
  width: 27%;
  height: 60%;
}

/*noinspection CssUnusedSymbol*/

.to-left {
  -webkit-transform: translate(-60%, 0);
  -ms-transform: translate(-60%, 0);
  transform: translate(-60%, 0);
}

/*noinspection CssUnusedSymbol*/

.to-right {
  -webkit-transform: translate(40%, 0);
  -ms-transform: translate(40%, 0);
  transform: translate(40%, 0);
}