.code
{
    font-family: 'Consolas', monospace;
    line-height: 2;

    display: inline;

    width: auto;
    padding: 0 3px;

    white-space: normal;

    border: 1px solid #606060;
    border-radius: 2px;
}

.string.code
{
    color: #7da25b;
    border: 0;
}

.comment.code
{
    color: gray;
    border: 0;
}

.normal.code
{
    color: white;
    border: 0;
}

.number.code
{
    color: #a25d5b;
    border: 0;
}

.reserved.code
{
    color: #a2805b;
    border: 0;
}

.signature.code
{
    color: #7c95b9;
    border: 0;
}

.method.code
{
    color: #816648;
    border: 0;
}

div.code
{
    display: inline-block;

    text-align: left;

    background: #2d2d2d;
}

.excuse > div.code
{
    font-size: smaller;

    position: relative;
    top: 0;

    transition: all 1s ease;

    opacity: 0.1;
}

.excuse > div.code:hover
{
    transition: all 1s ease;
    transform: translateY(-20%);

    opacity: 1;
}
