.harvey-svg { width: 100%; }
.harvey:focus .harvey-svg > .eyebrow { animation: raise-eyebrows 2s 1; }
.harvey:focus .harvey-svg > .mouth { animation: smirk-mouth 2s 1; }
.harvey:focus .harvey-svg { animation: shake-head 2s 1; animation-delay: 2s; }
.harvey:hover .harvey-svg > .eyebrow,
.harvey:hover .harvey-svg > .mouth,
.harvey:hover .harvey-svg,
.left-ear { transition: transform 1s ease; }
.left-ear:hover,
.left-ear:focus { transition: transform 2s ease; transform: rotateZ(-5deg); }
.nose { animation: twitch-nose 1s infinite; }
.right-ear { transition: transform 1s ease; }
.right-ear:hover,
.right-ear:focus { transition: transform 2s ease; transform: rotateZ(3deg); }
@keyframes shake-head {
    10%,
    90% { transform: translate3d(-1px, 1px, 0) rotate(2deg); }
    20%,
    80% { transform: translate3d(2px, -2px, 0)  rotate(-2deg); }
    30%,
    50%,
    70% { transform: translate3d(-4px, -2px, 0)  rotate(4deg); }
    40%,
    60% { transform: translate3d(4px, 2px, 0)  rotate(-4deg); }
}
@keyframes twitch-nose {
    0%,
    100% { transform: translateY(0); }
    35% { transform: translateY(-1px); }
    50% { transform: translateY(0px); }
    75% { transform: translateY(-2px); }
}
@keyframes raise-eyebrows {
    0%,
    100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}
@keyframes smirk-mouth {
    0%,
    100% { transform: skew(0); }
    50% { transform: skew(2deg, -1.5deg); }
}