body { font-family: 'Raleway', Arial, Helvetica, sans-serif; width: 100%; height: 100%; margin: 0; color: #e0e0e0; background: #424242; }
.auto-margin { margin: auto; }
.banner-text { margin: 0; }
.bounce { transition: all 700ms ease-out; transform: translate3d(0, 200px, 0); opacity: 0; backface-visibility: hidden; }
.boxed { border: 0.4em dashed #212121; }
.bump { padding-top: 10vh; }
.caption-heading { position: relative; top: 25%; }
.center-text { max-width: 100%; text-align: center; }
.city-background { width: 99%; height: 100vh; text-align: center; background: url(../img/omaha.jpeg) no-repeat fixed; background-position-x: center; background-size: cover; }
.city-overlay { position: relative; top: 25%; width: 50%; border: 0.4em double black; background-color: #e0e0e0; mix-blend-mode: lighten; }
.city-overlay-header { color: #b0bec5; }
.clear-button { overflow: hidden; box-sizing: border-box; width: 25%; height: 4em; margin: auto; cursor: pointer; text-align: center; border: 0.1em solid #fff; box-shadow: 0 0 4px rgba(33, 33, 33, 0.25), 0 4px 8px rgba(33, 33, 33, 0.75); }
.clear-button-reveal > a { display: inline-block; width: 100%; height: 100%;    /* margin: auto; */ padding-top: 7%; }
.clear-button-reveal { width: 100%; height: 100%; transition: all 0.3s ease; transition-delay: 0.1s; transform: translateY(-500%); opacity: 0; color: #fff; background-color: #607d8b; }
.clear-button:active > .clear-button-reveal,
.clear-button:focus > .clear-button-reveal { transform: translateY(-100%); opacity: 1; }
.clear-button:hover > .clear-button-reveal,
.code-example { text-align: justify; margin-bottom: 1em; box-shadow: 0 0 4px rgba(33, 33, 33, 0.25), 0 4px 8px rgba(33, 33, 33, 0.75); }
.dynamic-panel { width: 20%; cursor: move; transition: all ease-in 2s; }
.dynamic-panel:hover { width: 100%; transition: all cubic-bezier(0.46, 0.03, 0.7, 2) 2s 0.45s; }
.full-width { max-width: 100%; }
.github { height: 50vh; }
.highlight { text-decoration: none; border-bottom: 0.1em solid #b0bec5; }
.highlight:hover { border-bottom: 0.1em solid #fff; }
.hire-me { width: 100%; height: 50vh; padding-top: 25%; opacity: 0.7; background: url('../img/balloons.jpeg') fixed bottom; background-size: cover; }
.hover-link-content:after { display: block; width: 0; height: 2px; margin: 0 auto; content: ''; transition: opacity 0.3s ease, width 0.3s ease; border-bottom: 0.5em solid #b0bec5; background-color: #b0bec5;    /*margin: 1em;  */ }
.hover-link:hover > .hover-link-content:after { width: 75%; }
.icon-size { height: 4em; }
.in-view { transform: translate3d(0, 0, 0); opacity: 1; }
.intro { display: -ms-flexbox; display: flex; overflow: hidden; height: 90vh; color: #e0e0e0; background: #424242; -ms-flex-pack: center; justify-content: center; }
.intro-content { width: 90%; margin: auto 1em; text-align: center; }
.intro-left { position: relative; left: 0; background-image: repeating-linear-gradient(230deg, transparent, transparent 25px, rgba(30, 30, 30, 0.11) 25px, rgba(30, 30, 30, 0.11) 50px); box-shadow: 0 0 4px rgba(33, 33, 33, 0.25), 0 4px 8px rgba(33, 33, 33, 0.75); }
.intro-right { position: relative; right: 0; background-image: repeating-linear-gradient(130deg, transparent, transparent 25px, rgba(30, 30, 30, 0.11) 25px, rgba(30, 30, 30, 0.11) 50px); box-shadow: 0 0 4px rgba(33, 33, 33, 0.25), 0 4px 8px rgba(33, 33, 33, 0.75); }
.nav { color: #fff; }
.navigation { z-index: 1000; width: 100%; height: 10vh; background: #607d8b; box-shadow: 0 0 4px rgba(33, 33, 33, 0.25), 0 4px 8px rgba(33, 33, 33, 0.75); }
.navigation-list { display: -ms-flexbox; display: flex; margin: 0; padding: 1em; list-style: none; justify-content: space-around; }
.next { color: #b0bec5; }
.next { display: block; transform: translate(0); text-align: center; outline: 0; }
.next-bumper { height: 50vh; }
.next:after { position: absolute; bottom: -2vh; left: 50%; width: 0; height: 0; margin-left: -1vmax; content: ''; transition: all 1500ms ease; border-top: 1vmax solid #e0e0e0; border-right: 1vmax solid transparent; border-left: 1vmax solid transparent; }
.next:focus:after { transform: translateY(15em); opacity: 0; }
.next:hover:after { border-top: 1vmax solid #b0bec5; }
.read-more-state { display: none; }
.read-more-state ~ .read-more-trigger:before { content: 'Read more about my work'; }
.read-more-state ~ .read-more-wrap:after { font-size: 3vmax; position: absolute; left: 50%; content: ' ... '; }
.read-more-state:checked ~ .read-more-trigger:before { content: ''; }
.read-more-state:checked ~ .read-more-wrap .read-more-target { overflow: visible; max-height: 200vh; opacity: 1; }
.read-more-state:checked ~ .read-more-wrap:after { content: ''; }
.read-more-target { overflow: hidden; max-height: 1vh; transition: 0.5s ease-out; opacity: 0; }
.read-more-trigger { cursor: pointer; text-decoration: underline; }
.row { min-height: 50vh; }
.section-heading { color: #607d8b; }
.slim-text { font-size: large; padding: 2em; }
.social-link-icon { height: 4em; margin-right: 1em; transition: all 1s ease; border-radius: 100%; box-shadow: 0 0 4px rgba(33, 33, 33, 0.25), 0 4px 8px rgba(33, 33, 33, 0.75); }
.social-link-icon:hover { transform: scale(1.1); }
.social-text-icon { height: 4em; }
.style-link { color: #b0bec5; }
.style-link:visited { color: #607d8b; }
.text-justify { text-align: justify; }
.toggle-content { overflow: hidden; height: 0; text-align: center; }
.toggle-helper { position: relative; display: block; padding: 0.5em; cursor: pointer; text-align: center; text-decoration: underline; color: white; background-color: #b0bec5; box-shadow: 0 0 4px rgba(33, 33, 33, 0.25), 0 4px 8px rgba(33, 33, 33, 0.75); }
.toggle[type='checkbox'] { position: absolute; opacity: 0; }
.toggle[type='checkbox']:focus + .toggle-helper { color: white; background-color: #212121; }
.toggle[type='checkbox']:hover + .toggle-helper { color: white; }
.traits-icon { height: 5em; padding-top: 3em; }
.wide-element { max-width: 100vmin; }
.work-card { border-left: .5em rgba(96, 125, 139, 0.33) solid; }
.work-card:hover { border-color: rgba(96, 125, 139, 1); }
#resume-toggle:checked ~ #resume-content,
#hello-toggle:checked ~ #hello-content { height: auto; }
@media (max-width:300px) {
    .site-container > * { display: none; }
    .site-container:before { font-size: 7vmin; position: absolute; top: 50%; margin: auto; content: 'What are you on, a calculator? \a Just check out my github: \a http://github.com/watthem'; text-align: center; white-space: pre; white-space: pre; }
}
@media (max-width:599px) {
    body { font-size: 2vh; line-height: 2; }
    .auto-margin { width: 90%; }
    .offset-text { width: auto; }
    .offset-right { right: 0; padding-left: 0; }
}
@media (min-width:600px) {
    body { font-size: 2.5vh; line-height: 1.8; }
    .auto-margin { width: 75%; }
    .wide-element { width: auto; }
    .offset-text { width: auto; }
    .offset-right { right: 0; padding-left: 0; }
}
@media (min-width:900px) {
    body { font-size: 2.5vh; line-height: 2; }
    .auto-margin { width: 50%; }
    .offset-text { position: relative; width: 80%; }
    .offset-left { left: 0; padding-right: 0; }
    .offset-right { right: -20%; }
}
@media (min-width:1200px) {
    body { font-size: 3vh; line-height: 1.8; }
    .offset-text { position: relative; width: 70%; }
    .offset-right { right: -25%; }
}
@media (min-width:1800px) {
    body { font-size: 3.2vh; line-height: 2; }
}